<!DOCTYPE html>

<html>
    <head>
        <title>K-série</title>
        <style>
            body { background-color: rgb(213, 221, 229); }
            hr { border : 5px solid rgb(44, 44, 44); }
            span { color :rgb(235, 95, 95)}
            #contianer {
                display : flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
            }
        </style>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script> 
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-tag-cloud.min.js"></script>
    </head>
    <body>
        <center>
        <h1>Recherche dans la <span>série K</span></h1>
        <hr>
            <img src={{image_url}} 
            width="500",height="500">
        <p>
            <h3>Qu'est-ce que la <span>série K</span></h3>
            <font size="4">
            Nouveau mot : utiliser K devant un mot qui existe déjà.<br>
            La série K signifie une culture coréenne unique.

            </font>
        </br><a href=https://www.oed.com/view/Entry/92770415 target="_blank">["K-"on oxford english dictionary]</a>
	<h6>*Il est basé sur les nouvelles de NAVER.</h6>
        </p>
            <form method = "POST" action = "/search">
                <h3>Que voulez-vous chercher ?</h3>
                K - <input name="input" type="text" size="10">
                <input type = "submit" name="search" value="Search">
                <input type = "reset" name="clear" vaule="Clear"><br>
            </form>
            <h3>Mot le plus recherché</h3>
                {{search1}}:{{search1_i}}fois   {{search2}}:{{search2_i}}fois   {{search3}}:{{search3_i}}fois   {{search4}}:{{search4_i}}fois   {{search5}}:{{search5_i}}fois
        <p>
            <div class="chart-area"> 
                <div id="container" style="width:50%; height:100%;" >
                    <script> 
                        anychart.onDocumentReady(function () {
                            var data = {{cloud_list|tojson}};
                                // { "x": "K-방역", "value": 5000, category: "government" },
                                // { "x": "K-pop", "value": 3000, category: "culture" },
                                // { "x": "K-뷰티", "value": 1000, category: "culture" },
                                // { "x": "K-기업가정신", "value": 2000, category: "society" },
                                // { "x": "K-교육", "value": 2500, category: "society" },
                                // { "x": "K-푸드", "value": 5400, category: "culture" },
                                // { "x": "K-의료", "value": 6400, category: "society" } 
                            var chart = anychart.tagCloud(data); 
                            chart.angles([0]); 
                            chart.container("container"); 
                            chart.textSpacing(0);
                            chart.draw(); 
                        }); 
                        </script>
                </div> 
            </div>
        </p>
        <a href='/home/'> 한국어 </a> <br>
        <a href= '/home_english/'> English </a><br>
        <a href= '/home_japanese/'> 日本語 </a><br>
        <a href= '/home_chinese/'> 中文</a><br>
        <a href= '/home_french/'> Français</a><br>
        <a href= '/home_spanish/'> español</a><br>
    </center>
    </body>
</html>
